html body{
	height:100%;
}
.page{
	text-align: center;    
    margin: 0px auto;
    position: relative;
    bottom: -30px;
    width: 100%;
}

.page1{
	position: absolute;
	text-align: center; 
	bottom:0px;   
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%; 
}

.search{
	height:60px;
}

.middle{
	margin: 0px auto;
}

.logon-m{
	width: 100%;
	text-align: center; 
	margin: 0px auto;
}

.row{
	display:flex;
	direction:row;
	flex-wrap:wrap;
	
}
.video{
	padding-left:50px;
	padding-right:40px;
	direction:column;
}

.video1{
	
}
.video2{
	
}

.size{
	
}